$brown: #50311F;

$mainFont: 'Sacramento', cursive;
$subFont: 'Playfair Display SC', serif;
$pFont: 'Overpass', sans-serif;

$background: 'brown' #50311F, 'white' white;
$titles: ('main': 6rem, 'sub': 3rem);